<br>
<br>
<h1>Redes Sociales</h1>
<div class="container px-4 text-center">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3">
       <img src="./assets/instagram.png" alt="" width="50" height="50">
     </div>
    </div>
    <div class="col">
      <div class="p-3">
        <img src="./assets/facebook.png" alt="" width="50" height="50">
      </div>
    </div>

    <div class="col">
      <div class="p-3">
        <img src="./assets/whatsapp.png" alt="" width="50" height="50">
      </div>
    </div>
  </div>
</div>



