<!--Historia de la empresa-->
<br>
<div class="container px-4 text-center">
  <div class="row gx-5">
    <h1>Nuestra Historia</h1>
    <div class="col">
      <div class="p-3">
        <p>
          Diego siempre tuvo una pasión por la cocina desde que era niño. Le encantaba preparar platos deliciosos y
          variados
          para su familia y amigos, y soñaba con convertirse en un gran chef algún día. Sin embargo, la vida no le dio
          muchas
          oportunidades para seguir su vocación, y tuvo que trabajar en diferentes empleos para sostenerse.
        </p>

      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <p>
          Un día después de mucho esfuerzo pudo realizar una capacitación de cocina y así nació “Diego y su cocina”, una
          empresa
          que se dedica a satisfacer las
          necesidades y los gustos de cada cliente, ofreciendo platos de calidad, elaborados con ingredientes frescos y
          locales.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container px-4 text-center">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3">
        <p>
          El propósito o la misión de “Diego y su cocina” es brindar una experiencia culinaria única y memorable a sus
          clientes,
          adaptándose a sus preferencias, presupuestos y ocasiones especiales. La empresa se relaciona con las
          necesidades de
          los clientes o la comunidad al ofrecer un servicio profesional, flexible y cercano, que busca superar las
          expectativas
          y crear vínculos duraderos.
        </p>
      </div>
    </div>
  </div>
</div>

<!--Valores y Ética-->
<br>
<div class="container px-4 text-center">
  <div class="row gx-5">
    <h1>Valores</h1>
    <div class="col">
      <div class="p-3">
        <p> Pasión: Diego y su equipo aman lo que hacen y ponen todo su corazón y su creatividad en cada plato que
          preparan.
          Buscan transmitir su amor por la cocina a sus clientes y hacerlos disfrutar de cada bocado.</p>

        <p> Calidad: Diego y su equipo utilizan solo ingredientes frescos, locales y de temporada, seleccionados con
          cuidado
          y respeto por el medio ambiente. Elaboran sus platos con técnicas profesionales y siguiendo los más altos
          estándares de higiene y seguridad alimentaria.</p>


        <p> Profesionalismo: Diego y su equipo son puntuales, responsables y eficientes. Cumplen con los plazos, los
          presupuestos y las expectativas de sus clientes. Se comunican de forma clara, cordial y honesta, y resuelven
          cualquier inconveniente que pueda surgir.</p>

      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <p> Calidad: Diego y su equipo utilizan solo ingredientes frescos, locales y de temporada, seleccionados
          con
          cuidado
          y respeto por el medio ambiente. Elaboran sus platos con técnicas profesionales y siguiendo los más altos
          estándares de higiene y seguridad alimentaria.</p>

        <p> Personalización: Diego y su equipo se adaptan a las necesidades y los gustos de cada cliente,
          ofreciendo un
          servicio a medida, flexible y versátil. Escuchan sus sugerencias, preferencias y alergias, y diseñan un
          menú
          acorde a cada ocasión especial.</p>

        <p> Cercanía: Diego y su equipo tratan a sus clientes como amigos, creando un ambiente de confianza y
          calidez.
          Se
          interesan por sus historias, sus emociones y sus sueños, y los acompañan en sus momentos más importantes.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container overflow-hidden text-center">
  <div class="row gy-5">
    <h1>Principios</h1>
    <div class="col-6">

      <div class="p-3">

        <p> Respeto: Diego y su equipo respetan a sus clientes, a sus proveedores, a sus compañeros de trabajo y a la
          comunidad en general. Reconocen la diversidad cultural, religiosa, étnica y de género, y promueven la
          inclusión,
          la tolerancia y la convivencia pacífica.</p>
        <p>
          Compromiso: Diego y su equipo se comprometen con la satisfacción de sus clientes, con la calidad de su
          trabajo,
          con el cuidado del medio ambiente y con el desarrollo social. Apoyan causas solidarias, participan en eventos
          benéficos y colaboran con organizaciones locales.
        </p>

        <p>
          Visión: Diego y su equipo aspiran a ser una empresa de catering líder en el mercado, reconocida por su
          excelencia, su profesionalismo y su cercanía. Quieren expandir su negocio a otras ciudades, regiones e incluso
          países, sin perder su esencia ni sus valores. Quieren hacer de la cocina un arte que inspire, emocione y
          conecte
          a las personas.
        </p>
      </div>
    </div>

    <div class="col-6">
      <div class="p-3">
        <p>
          Compromiso: Diego y su equipo se comprometen con la satisfacción de sus clientes, con la calidad de su
          trabajo,
          con el cuidado del medio ambiente y con el desarrollo social. Apoyan causas solidarias, participan en eventos
          benéficos y colaboran con organizaciones locales.
        </p>
        <p>
          Innovación: Diego y su equipo se mantienen al día con las últimas tendencias gastronómicas, las nuevas
          tecnologías y las mejores prácticas del sector. Experimentan con nuevos sabores, texturas, presentaciones y
          fusiones culinarias. Buscan sorprender a sus clientes con propuestas originales, creativas y vanguardistas.
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<!--Equipo y experiencia-->
<div class="container overflow-hidden text-center">
  <div class="row gy-5">
    <h1>DIEGO'S TEAM</h1>
    <div class="col-6">
      <div class="p-3">
        <div class="card" style="width: 18rem;">
          <img src="./assets/diego.jpeg" class="card-img-top" alt="...">

        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="p-3">
        <p>
          Diego es un padre de familia que vive en Cipolletti, una ciudad de la provincia de Río Negro, Argentina.
          Está casado con Elen, una joven trabajadora, y tiene un hijo de ocho años llamado Santiago. Además, espera
          la llegada de su segundo hijo para los próximos meses.
        </p>
        <p>
          El estudió la carrera de tecnicatura en chef en "Cocineros Patagónicos", una prestigiosa escuela de
          gastronomía de la región. Allí aprendió las técnicas y los secretos de la cocina patagónica, así como
          también de otras cocinas del mundo.
        </p>

        <p>
          Diego es el fundador y el dueño de "Diego y su cocina", una empresa de catering que ofrece una propuesta
          gastronómica diferente, creativa y personalizada. Diego y su equipo se dedican a satisfacer las
          necesidades y los gustos de cada cliente, ofreciendo platos de calidad, elaborados con ingredientes
          frescos y locales.
        </p>

        <p>
          Diego es un apasionado por la cocina y por su familia. Su sueño es seguir creciendo como chef y como
          empresario, y compartir su amor por la comida con sus seres queridos y con su comunidad.
        </p>

      </div>
    </div>
    <div class="col-6">
      <div class="p-3">
        <div class="card" style="width: 18rem;">
          <img src="./assets/chica1.webp" class="card-img-top" alt="...">

        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="p-3">
        <br>
        <br>
        <br>

        <p> Isabella, una joven de 28 años apasionada por la cocina, encontró su sueño trabajando en "Diego y su
          cocina". Su
          estilo de vida gira en torno a la creatividad culinaria y la excelencia en el servicio. Cada evento se
          convierte en una obra maestra gastronómica bajo su dirección, y su amor por los ingredientes frescos y la
          innovación hace que su trabajo sea la joya de la empresa.</p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container overflow-hidden text-center">
  <div class="row gy-5">
    <div class="col-6">
      <div class="p-3">

        <div class="card" style="width: 18rem;">
          <img src="./assets/chica2.webp" class="card-img-top" alt="...">

        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3">
        <br>
        <br>
        <p>
          Katy, a los 34 años, es la encargada de eventos especiales en "Diego y su cocina". Su estilo de vida está
          marcado por la elegancia y la atención al detalle. Como experta en planificación y diseño de menús, transforma
          cada ocasión en una experiencia culinaria inolvidable. Desde bodas hasta eventos corporativos, su creatividad
          brilla, asegurando que cada plato sea una obra de arte gastronómica que refleje el espíritu de la empresa.
        </p>

      </div>
    </div>
    <div class="col-6">
      <div class="p-3">
        <div class="card" style="width: 18rem;">
          <img src="./assets/chica3.webp" class="card-img-top" alt="...">

        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3">
        <br>
        <br>

        <p>
          A los 22 años, Sabrina es la mente creativa detrás de "Diego y su cocina". Su estilo de vida gira en torno a la
        exploración culinaria y la excelencia gastronómica. Como chef principal, fusiona sabores de todo el mundo para
        crear platos únicos que encantan a los clientes. Cuando no está en la cocina, se embarca en viajes culinarios,
        explorando mercados locales y culturas, inspirando así su innovadora cocina. Sabrina es el corazón latente de la
        empresa.
        </p>

      </div>
    </div>
  </div>
</div>




<ng-content></ng-content>
